name: Autograding Tests
'on':
  - push
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1
      - name: Set up JDK 25
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'oracle'
          java-version: '25'
          cache: 'maven'
      - name: exercise01
        id: exercise01
        uses: classroom-resources/autograding-command-grader@v1
        with:
          test-name: exercise01
          setup-command: ''
          command: mvn -Dtest=TestAssignment#exercise01 test
          timeout: 10
          max-score: 10
      
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          EXERCISE01_RESULTS: "${{steps.exercise01.outputs.result}}"
        with:
          runners: exercise01
